# Go related
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go vendor
vendor/

# IDE/editor related
.idea/
.vscode/
*.swp
*.swo

# MacOS related
.DS_Store

# Log files
*.log

# Environment variable files
.env
.env.prod

# Dependency directories
node_modules/
jspm_packages/

# Temporary files
/tmp
*.tmp
*.temp
*.bak
*~
*.sublime-project
*.sublime-workspace

# Output of the build process
build/
dist/